#container{
    width: 100%;
    margin: 0 auto;
    background-color: maroon;
    background: url('/static/img/background-roasted-fresh-brown-coffee-beans-perfect-cool-wallpaper.jpg');
    background-size: cover;
    /* height: 690px; */
    height: 980px;
    border: 3px solid black;
}
#content{
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-color: white;
    /* height: 470px; */
}
.roast-image{
    width: 200px;
    height: auto;
    display: inline-block;
    border: none;
    margin: 28px;
}
.description-box{
    width: 500px;
    max-width: 500px;
    padding: 10px 20px 30px 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.text-link{
    color:blue;
    text-decoration: none;
}

@media only screen and (max-width: 480px){
    .w100{
        width: 100% !important;
    }
}

h1  {
    color:white;
    background-color: maroon;
    text-align: center;
    font-size: xxx-large;
}

.links {
    text-align: center;
}

a {
    font-size: 24px;
}

#roast_content {
    height: 470px;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background-color: white;
}

#roast_label {
    font-size: 18px;
}

.roast_img {
    height: 130px;
    margin-top: 15px;
    width:160px;
}