<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
</head>
<body>
    <h1>Meet Tom & Jen</h1>
    <button>
        <a class="btn" href="/">Home</a>
    </button>  
    <button>
        <a class="btn" href="/about_us">About Us</a>
    </button>  
    <button>
        <a href="/current_roasts">Current Roasts</a>
    </button>
    <button>
        <a href="/upcoming_roasts">Upcoming Roasts</a>
    </button>
    <button>
        <a href="/my_cart">My Cart</a>
    </button>
    <img id="Coffee3" src= "{% static 'img/Coffee5.jpg' %}"/>
    <a href="/contact_us">Contact Us</a>
    <p>Flight School Coffee Roasters was founded in 2013 by the dynamic duo known as Tom & Jennifer Pekar. Tom is a Texas A&M graduate, class of 1985, and has always enjoyed the art and science behind a great cup of coffee. Together with his wife Jennifer, he began experimenting and roasting his own beans, determined to to tease out all the complex flavors of every bean he comes by which is evidenced by his stellar product line. When asked why they go through so much trouble and pay attention to even the most minute detail when roasting, their answer was a proverbial reminder that can be applied to all aspects of life: "Well, anything worth doing correctly is worth overdoing."</p>