<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight School Coffee | Current Roasts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_revans.css' %}">
</head>
<body>
    <div id="container">
        <h1>Current Roasts</h1>
        <div class="links">
            <button>
                <a class="btn" href="/">Home</a>
            </button>  
            <button>
                <a class="btn" href="/about_us">About Us</a>
            </button>  
            <button>
                <a class="btn" href="/current_roasts">Current Roasts</a>
            </button>
            <button>
                <a class="btn" href="/upcoming_roasts">Upcoming Roasts</a>
            </button>
            <!-- <button>
                <a href="/my_cart">My Cart</a>
            </button> -->
            <button>
                <a href="/store">Store</a>
            </button>
            <button>
                <a class="btn" href="/contact_us">Contact Us</a>
            </button>
        </div>
        <br>
        <div id="content">
            <!-- <h1>Current Roasts</h1> -->
                {% for roast in current_roasts.all %}
                    <a href="/{{roast.id}}/view_roast"><img class="roast-image" src="{% static 'img/coffee_beans.jpg' %}"></a>
                    <div class="description-box w100">
                        <h2><a class="text-link" href="/{{roast.id}}/view_roast">{{roast.name}}</a></h2>
                        <p>{{roast.description}}</p>
                        <p>${{roast.price}}/lb.</p>
                    </div>
                {% endfor %}  
        </div>
    </div>
</body>
</html>

